<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StartTime" value="1990-01-01"/>
    <add key="BatchSize" value="50"/>
    <add key="AlertPeriod" value="10"/>
    <add key="TrendShortPeriod" value="5"/>
    <add key="TrendMediumPeriod" value="10"/>
    <add key="TrendLongPeriod" value="20"/>
    <add key="UpdatePeriod" value="10"/>
    <add key="ConnectionString" value="Integrated Security = SSPI; Persist Security Info=False;Initial Catalog = StockRawData; Data Source = .\SQLEXPRESS;Connection Timeout=600"/>
  </appSettings>
</configuration>